<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="personal" class="ng-scope">
<head>
    <style type="text/css">
        @charset "UTF-8";
        /*[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }*/
        .ng-hide.ng-hide-animate {
            display: none !important;
        }
        ng\:form {
            display: block;
        }
        .ng-animate-shim {
            visibility: hidden;
        }
        .ng-anchor {
            position: absolute;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Rohan Gupta - Software Developer</title>
    <link rel="icon" type="image/png" sizes="16x16" href="css/images/logo.png">
    <meta name="description=" content="Hi! I'm Rohan, a freshman at Purdue University majoring in Computer Science.">
    <meta name="keywords" content="Rohan">
    <meta property="og:title" content="Rohan Gupta">
    <meta property="og:url" content="http://localhost:3000">
    <meta property="og:type" content="website">
    <meta property="og:image" content="img/preview.jpg">
    <meta property="og:description" content="Hi! I'm Rohan, a freshman at Purdue University majoring in Computer Science.">
    <meta property="og:site_name" content="Rohan Gupta">
    <meta name="theme-color" content="#0680cc">
    <meta http-equiv="Cache-control" content="no">


    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/animate.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400|Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/fonts.css" rel="stylesheet" type="text/css">
    <link href="css/normalize.css" rel="stylesheet" type="text/css">

    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/pdfobject.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script><!--   <script type="text/javascript" src="js/SmoothScroll.js">-->

    <script src="js/wow.min.js" type="text/javascript"></script>
    <script src="js/typed.js" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        new WOW().init();
    //]]>
    </script>
    <script type="text/javascript">
        //<![CDATA[
        //$scope.showResume=false;
        $(window).load(function () {
            setTimeout(
                function () {
                    //do something special
                    $(".loader").fadeOut("fast");
                    $("#loading").fadeOut("fast");
                    $("#mainbody").fadeIn("slow");
                    $(".desc").fadeIn("slow");
                    //$("body").fadeIn("slow");
                    $(".whoiam").typed({
                        strings: ["a technology enthusiast.", "a problem solver.", "a creative thinker.", "a software developer."],
                        typeSpeed: 30,
                        startDelay: 1800,
                        typeSpeed: 80,
                        backSpeed: 70,
                        backDelay: 700,
                        showCursor: true,
                        cursorChar: "",
                        loop: true
                    });
                    //var options = {
                    //    fallbackLink: '<p>This browser does not support inline PDFs. Please download the PDF to view it: <a href="https://www.dropbox.com/s/b9o2q9xkxzzwfji/GuptaCSResume_Summer2017.pdf?dl=0">Download PDF</a></p>'
                    //};
                    PDFObject.embed("css/resume/GuptaCSResume.pdf", "#resume");
                }, 10);
        });
    </script>
</head>

<body ng-controller="Controller as site" class="ng-scope" style="overflow: auto;">
    <div id="loading" style="display: none;"></div>
    <div class="loader" style="display: none;">Loading</div>

    <img src="css/images/logo.png" alt="Logo" height="62" width="62">
    <div id="mainbody" ng-controller="projectController as project" class="ng-scope" style=s"display: block;">
        <div class="splash" style="top: 0px; opacity: 1; animation: huehuehue 30s linear infinite;">
            <div class="movethis" style="display: table; height: 100%; width:100%; text-align:center; overflow: hidden;">
                <div style="display: table-cell; vertical-align: middle; overflow: hidden;">
                    <h2 class="wow fadeInDown" ng-show="!showResume" style="visibility: visible; animation-name: fadeInDown;"></h2><br>

                    <h1 class="wow fadeInDown" ng-show="!showResume" style="visibility: visible; animation-name: fadeInDown;">Rohan Gupta</h1><br>

                    <div class="wow fadeInDown desc" style="z-index: 999; position: relative; color: rgb(255, 0, 0); visibility: visible; animation-name: fadeInDown;" ng-show="!showResume">
                        <span class="wow fadeInDown splashdtext" style="visibility: visible; animation-name: fadeInDown;">I'm</span> <span id="typed" class="wow fadeInDown whoiam splashdtext animated" style="visibility: visible; animation-name: fadeInDown;"></span><span class="typed-cursor"></span>
                    </div><br>
                    <input type="submit" value="Resume" class="wow fadeIn resume" data-wow-delay="1s" ng-click="resumeButtonPressed()" ng-show="!showResume">
                    <div ng-show="showResume" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
                        <div class='ng-modal-overlay' ng-click='showResume=false'></div>
                        <div class='ng-modal-dialog resume-viewer' id="resume"></div>
                        <div class='ui-buttons ng-modal-close' ng-click='showResume=false' style="z-index: 1;">
                            <i class="icon ion-ios-close-empty"></i>
                        </div>
                    </div>
                    <!--<div ng-show="showResume" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';" class="ng-hide">
                        <div class="ng-modal-overlay" ng-click="showResume=false"></div>
                        <div class="ng-modal-dialog resume-viewer pdfobject-container" id="resume"></div>
                        <div class="ui-buttons ng-modal-close" ng-click="showResume=false" style="z-index: 1;">
                            <i class="icon ion-ios-close-empty"></i>
                        </div>
                    </div>-->

                    <div id="social" class="wow fadeInUp animated" ng-show="!showResume" style="visibility: visible; animation-name: fadeInUp;">
                        <a href="http://github.com/RohanGupta24" target="_blank" class="github"><i class="icon ion-social-github"></i></a>
                        <a href="https://www.linkedin.com/in/rohan-g-69907b113/" target="blank" class="linkedin"><i class="icon ion-social-linkedin"></i></a>
                        <a href="https://medium.com/@rogupster" target="blank" class="medium"><i class="fa fa-medium"></i></a>
                        <a href="mailto:gupta326@purdue.edu" class="mail"><i class="icon ion-ios-email"></i></a>
                    </div>
                </div>
                </div>
            </div>

            <!--<div class="splash-img"></div>
            <div class="splash-img-blur"></div>-->
        </div>

</body>
</html>
